# PA004 - HEALTH INSURANCE CROSS-SELL
Database: Postgres 12.0 - AWS


Credentials:


HOST = comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com


PORT = 5432


Database = comunidadedsdb


Username = member


Password = cdspa

 https://www.comunidadedatascience.com/como-usar-data-science-para-fazer-a-empresa-vender-mais/

## 1- IMPORTS

In [1]:
import pandas          as pd
import pandas.io.sql   as psql
import psycopg2        as pg

### 1.2 - Datas

In [2]:
# Credentials
host="comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com"
database="comunidadedsdb"
port=5432
user="member"
password="cdspa"

In [3]:
# Postgresql Connetion
conn = pg.connect( host=host,
                   database=database,
                   port=5432,
                   user=user,
                   password=password
                       )

#### Schema Query

In [ ]:
# Criando cursor
cur = conn.cursor()

# Schema query
query_schema = """
    SELECT nspname
    FROM pg_catalog.pg_namespace
"""
cur.execute( query_schema )

In [ ]:
record = cur.fetchall()
print(record)
cur.close()
conn.close()

#### Table Query

In [ ]:
cur = conn.cursor()
query_table = """
    SELECT tablename
    FROM pg_tables
    WHERE schemaname='pa004'
"""

cur.execute( query_table )

record = cur.fetchall()
print(record)

cur.close()
conn.close()

### Colect data using psycopg2

In [ ]:
cur = conn.cursor()
query_table_users = """
    SELECT *
    FROM pa004.users u
    WHERE u.age > 44
    LIMIT 10
"""

cur.execute( query_table_users )

record = cur.fetchall()
print(record)

cur.close()
conn.close()

In [ ]:
data = pd.DataFrame( record )
data.head()

### Colecting Data using Pandas

In [4]:
query_table_users = """
    SELECT *
    FROM pa004.users u
    WHERE u.age > 44
    LIMIT 10
"""

df = psql.read_sql( query_table_users, conn )

/home/reng/anaconda3/envs/health_insurance/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [5]:
df.head()

   id  gender  age  region_code  policy_sales_channel
0   2    Male   76          3.0                  26.0
1   3    Male   47         28.0                  26.0
2   8  Female   56         28.0                  26.0
3  11  Female   47         35.0                 124.0
4  14    Male   76         28.0                  13.0

In [ ]:
df1 = pd.read_sql( query_table_users, conn )

In [ ]:
df1