# PA004 - HEALTH INSURANCE CROSS-SELL
Database: Postgres 12.0 - AWS


Credentials:


HOST = comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com


PORT = 5432


Database = comunidadedsdb


Username = member


Password = cdspa

 https://www.comunidadedatascience.com/como-usar-data-science-para-fazer-a-empresa-vender-mais/

## 0- IMPORTS

In [38]:
import pandas          as pd
import pandas.io.sql   as psql
import psycopg2        as pg
import sweetviz        as sv

/home/reng/anaconda3/envs/health_insurance/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

### 0.1 - Datas

In [2]:
# CONECTANDO NO BANCO DE DADOS

# Credentials
host="comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com"
database="comunidadedsdb"
port=5432
user="member"
password="cdspa"
    
# Postgresql Connetion
conn = pg.connect( host=host,
                   database=database,              
                   port=5432,
                   user=user,
                   password=password
                 )

# Criando cursor
cur = conn.cursor()

#### Schema Query

In [ ]:
# VERIFICANDO SCHEMAS DO BANCO DE DADOS
query_schema = """
    SELECT nspname
    FROM pg_catalog.pg_namespace
"""
cur.execute( query_schema )

record = cur.fetchall()
print(record)

#### Table Query

In [ ]:
# VERIFICANDO TABELAS BANCO DE DADOS
query_table = """
    SELECT tablename
    FROM pg_tables
    WHERE schemaname='pa004'
"""

cur.execute( query_table )

record = cur.fetchall()
print(record)

#### Colecting Datas from DataBase using Pandas

In [3]:
query_all_datas = """
    SELECT *
    FROM pa004.users u
    INNER JOIN pa004.vehicle v ON ( u.id = v.id )
    INNER JOIN pa004.insurance i ON (u.id = i.id )
"""
df_all = pd.read_sql( query_all_datas, conn )
cur.close()
conn.close()

/home/reng/anaconda3/envs/health_insurance/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

## 1- DATA DESCRIPTION

In [14]:
df1 = df_all.copy()

### 1.1- Size of Dataset

In [32]:
df1.shape

(381109, 11)

### 1.2- Check Data Types

In [17]:
df1.dtypes

id                        int64
gender                   object
age                       int64
region_code             float64
policy_sales_channel    float64
id                        int64
driving_license           int64
vehicle_age              object
vehicle_damage           object
id                        int64
previously_insured        int64
annual_premium          float64
vintage                   int64
response                  int64
dtype: object

### 1.3- Check NA Datas

In [18]:
df1.isna().sum()

id                      0
gender                  0
age                     0
region_code             0
policy_sales_channel    0
id                      0
driving_license         0
vehicle_age             0
vehicle_damage          0
id                      0
previously_insured      0
annual_premium          0
vintage                 0
response                0
dtype: int64

### 1.4- Removing Duplicated Columns

In [28]:
df1.drop('id', axis=1, inplace=True )

In [33]:
df1.head()

,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,previously_insured,annual_premium,vintage,response
0,Male,23,11.0,152.0,1,< 1 Year,Yes,0,23367.0,249,0
1,Female,41,15.0,14.0,1,1-2 Year,No,1,31409.0,221,0
2,Female,25,35.0,152.0,1,< 1 Year,No,1,46622.0,299,0
3,Female,26,8.0,160.0,1,< 1 Year,No,0,2630.0,136,0
4,Male,45,8.0,124.0,1,1-2 Year,Yes,0,42297.0,264,0

### 1.5- Descriptive Statisctical using Sweetviz

In [39]:
sv_report = sv.analyze( df1 )
sv_report.show_html()

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

## 2- FEATURE ENGINEERING