# PA004 - HEALTH INSURANCE CROSS-SELL

## 1.0 - API Tester

In [1]:
import requests
import pandas as pd

In [2]:
# Load Datasets
df_test = pd.read_csv('C:/Users/perot/Documents/ds_repos/projects/Health_Insurance_Cross_Sell/data/raw/test.csv')

In [3]:
df_test = df_test.sample(10)

In [4]:
df_test

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
79624,460734,Male,52,1,41,1,1-2 Year,No,31759,26,57
35065,416175,Male,54,1,28,0,1-2 Year,Yes,37142,26,168
65551,446661,Female,30,1,12,0,< 1 Year,No,36722,152,118
107885,488995,Female,56,1,0,0,1-2 Year,Yes,2630,122,65
39171,420281,Female,58,1,28,0,1-2 Year,Yes,2630,26,102
96197,477307,Female,23,1,28,1,< 1 Year,No,28674,160,296
7240,388350,Male,21,1,46,1,< 1 Year,No,26997,152,137
118649,499759,Male,22,1,2,0,< 1 Year,Yes,24702,152,21
122033,503143,Male,62,1,46,0,1-2 Year,Yes,53454,3,169
82210,463320,Female,22,1,17,1,< 1 Year,No,31131,152,197

In [5]:
# convert dataframe to json
data = json.dumps( df_test.to_dict( orient='records' ) )

In [6]:
data

'[{"id": 460734, "Gender": "Male", "Age": 52, "Driving_License": 1, "Region_Code": 41, "Previously_Insured": 1, "Vehicle_Age": "1-2 Year", "Vehicle_Damage": "No", "Annual_Premium": 31759, "Policy_Sales_Channel": 26, "Vintage": 57}, {"id": 416175, "Gender": "Male", "Age": 54, "Driving_License": 1, "Region_Code": 28, "Previously_Insured": 0, "Vehicle_Age": "1-2 Year", "Vehicle_Damage": "Yes", "Annual_Premium": 37142, "Policy_Sales_Channel": 26, "Vintage": 168}, {"id": 446661, "Gender": "Female", "Age": 30, "Driving_License": 1, "Region_Code": 12, "Previously_Insured": 0, "Vehicle_Age": "< 1 Year", "Vehicle_Damage": "No", "Annual_Premium": 36722, "Policy_Sales_Channel": 152, "Vintage": 118}, {"id": 488995, "Gender": "Female", "Age": 56, "Driving_License": 1, "Region_Code": 0, "Previously_Insured": 0, "Vehicle_Age": "1-2 Year", "Vehicle_Damage": "Yes", "Annual_Premium": 2630, "Policy_Sales_Channel": 122, "Vintage": 65}, {"id": 420281, "Gender": "Female", "Age": 58, "Driving_License": 1, "Region_Code": 28, "Previously_Insured": 0, "Vehicle_Age": "1-2 Year", "Vehicle_Damage": "Yes", "Annual_Premium": 2630, "Policy_Sales_Channel": 26, "Vintage": 102}, {"id": 477307, "Gender": "Female", "Age": 23, "Driving_License": 1, "Region_Code": 28, "Previously_Insured": 1, "Vehicle_Age": "< 1 Year", "Vehicle_Damage": "No", "Annual_Premium": 28674, "Policy_Sales_Channel": 160, "Vintage": 296}, {"id": 388350, "Gender": "Male", "Age": 21, "Driving_License": 1, "Region_Code": 46, "Previously_Insured": 1, "Vehicle_Age": "< 1 Year", "Vehicle_Damage": "No", "Annual_Premium": 26997, "Policy_Sales_Channel": 152, "Vintage": 137}, {"id": 499759, "Gender": "Male", "Age": 22, "Driving_License": 1, "Region_Code": 2, "Previously_Insured": 0, "Vehicle_Age": "< 1 Year", "Vehicle_Damage": "Yes", "Annual_Premium": 24702, "Policy_Sales_Channel": 152, "Vintage": 21}, {"id": 503143, "Gender": "Male", "Age": 62, "Driving_License": 1, "Region_Code": 46, "Previously_Insured": 0, "Vehicle_Age": "1-2 Year", "Vehicle_Damage": "Yes", "Annual_Premium": 53454, "Policy_Sales_Channel": 3, "Vintage": 169}, {"id": 463320, "Gender": "Female", "Age": 22, "Driving_License": 1, "Region_Code": 17, "Previously_Insured": 1, "Vehicle_Age": "< 1 Year", "Vehicle_Damage": "No", "Annual_Premium": 31131, "Policy_Sales_Channel": 152, "Vintage": 197}]'

In [10]:
# API Call
url = 'https://health-insurance-api-d263.onrender.com/healthinsurance/predict'
#url = 'http://127.0.0.1:5000/healthinsurance/predict'
header = {'Content-type': 'application/json' }

r = requests.post( url, data=data, headers=header )
print( 'Status Code {}'.format( r.status_code ) )

Status Code 200

In [11]:
d2 = pd.DataFrame( r.json(), columns=r.json()[0].keys() )

In [12]:
d2

,id,gender,age,driving_license,region_code,previously_insured,vehicle_age,vehicle_damage,annual_premium,policy_sales_channel,...,avg_vehicle_damage_per_age,avg_vehicle_damage_region_code,age_group,vintage_month,day_premium,age_premium,region_premium,avg_day_premium_policy,avg_vintage_age,score
0,460734,0.138271,52.0,1,0.048038,1,2,0,31759.0,0.209218,...,0.0,0.000000,3,0.503106,557.175439,610.750000,31759.0,268.014362,57.0,0.019818
1,416175,0.138271,54.0,1,0.340339,0,2,1,37142.0,0.209218,...,1.0,0.666667,3,0.496393,221.083333,687.814815,28674.0,268.014362,168.0,0.521315
2,446661,0.103550,30.0,1,0.007586,0,1,0,36722.0,0.353698,...,0.0,0.000000,2,0.510673,311.203390,1224.066667,36722.0,460.643220,118.0,0.168611
3,488995,0.103550,56.0,1,0.004343,0,2,1,2630.0,0.026056,...,1.0,1.000000,3,0.503106,40.461538,46.964286,2630.0,40.461538,65.0,0.679231
4,420281,0.103550,58.0,1,0.340339,0,2,1,2630.0,0.209218,...,1.0,0.666667,3,0.490699,25.784314,45.344828,28674.0,268.014362,102.0,0.487580
5,477307,0.103550,23.0,1,0.340339,1,1,0,28674.0,0.057172,...,0.0,0.666667,1,0.503858,96.871622,1246.695652,28674.0,96.871622,296.0,0.022030
6,388350,0.138271,21.0,1,0.048359,1,1,0,26997.0,0.353698,...,0.0,0.500000,3,0.510673,197.058394,1285.571429,40225.5,460.643220,137.0,0.029024
7,499759,0.138271,22.0,1,0.008900,0,1,1,24702.0,0.353698,...,0.5,1.000000,1,0.500430,1176.285714,1122.818182,24702.0,460.643220,109.0,0.698022
8,503143,0.138271,62.0,1,0.048359,0,2,1,53454.0,0.001397,...,1.0,0.500000,3,0.496393,316.295858,862.161290,40225.5,316.295858,169.0,0.659002
9,463320,0.103550,22.0,1,0.005696,1,1,0,31131.0,0.353698,...,0.5,0.000000,1,0.497474,158.025381,1415.045455,31131.0,460.643220,109.0,0.039372

# Analysis after Prediction

In [ ]:
# Get Data
df = pd.read_csv('C:/Users/perot/Documents/ds_repos/projects/Health_Insurance_Cross_Sell/data/processed/datascore.csv')

In [ ]:
df.head()