# PA004 - HEALTH INSURANCE CROSS-SELL

## 1.0 - API Tester

In [9]:
import requests
import pandas as pd

In [10]:
# Load Datasets
df_test = pd.read_csv('C:/Users/perot/Documents/ds_repos/projects/Health_Insurance_Cross_Sell/data/raw/test.csv')

In [11]:
#df_test = df_test.sample(10)

In [12]:
df_test

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
0,381110,Male,25,1,11,1,< 1 Year,No,35786,152,53
1,381111,Male,40,1,28,0,1-2 Year,Yes,33762,7,111
2,381112,Male,47,1,28,0,1-2 Year,Yes,40050,124,199
3,381113,Male,24,1,27,1,< 1 Year,Yes,37356,152,187
4,381114,Male,27,1,28,1,< 1 Year,No,59097,152,297
...,...,...,...,...,...,...,...,...,...,...,...
127032,508142,Female,26,1,37,1,< 1 Year,No,30867,152,56
127033,508143,Female,38,1,28,0,1-2 Year,Yes,28700,122,165
127034,508144,Male,21,1,46,1,< 1 Year,No,29802,152,74
127035,508145,Male,71,1,28,1,1-2 Year,No,62875,26,265
127036,508146,Male,41,1,29,1,1-2 Year,No,27927,124,231

In [13]:
# convert dataframe to json
data = json.dumps( df_test.to_dict( orient='records' ) )

In [14]:
# API Call
#url = 'https://healthinsurance-api.onrender.com/healthinsurance/predict'
url = 'http://127.0.0.1:5000/healthinsurance/predict'
header = {'Content-type': 'application/json' }

r = requests.post( url, data=data, headers=header )
print( 'Status Code {}'.format( r.status_code ) )

Status Code 200

In [15]:
d2 = pd.DataFrame( r.json(), columns=r.json()[0].keys() )

In [16]:
d2.to_csv('datascore.csv')

# Analysis after Prediction

In [ ]:
# Get Data
df = pd.read_csv('C:/Users/perot/Documents/ds_repos/projects/Health_Insurance_Cross_Sell/data/processed/datascore.csv')

In [ ]:
df.head()