# PA004 - HEALTH INSURANCE CROSS-SELL

## 1.0 - API Tester

In [1]:
import requests
import pandas as pd

In [2]:
# Load Datasets
df_test = pd.read_csv('C:/Users/perot/Documents/ds_repos/projects/Health_Insurance_Cross_Sell/data/raw/test.csv')

In [3]:
df_test = df_test.sample(10)

In [4]:
df_test

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
85338,466448,Male,33,1,3,0,1-2 Year,No,20457,154,170
1039,382149,Male,59,1,28,0,1-2 Year,Yes,28286,124,221
60856,441966,Male,57,1,25,1,1-2 Year,Yes,2630,30,192
88286,469396,Male,58,1,28,0,1-2 Year,Yes,35676,26,45
84951,466061,Male,67,1,50,0,1-2 Year,Yes,37161,8,234
110110,491220,Female,26,1,40,0,< 1 Year,Yes,39495,152,158
104047,485157,Male,51,1,46,0,1-2 Year,Yes,2630,124,164
66757,447867,Female,26,1,36,1,< 1 Year,No,35260,152,124
62405,443515,Male,48,1,28,0,1-2 Year,Yes,48256,26,12
69359,450469,Male,27,1,21,1,< 1 Year,No,30331,152,166

In [5]:
# convert dataframe to json
data = json.dumps( df_test.to_dict( orient='records' ) )

In [6]:
 # API Call
#url = 'https://healthinsurance-api.onrender.com/healthinsurance/predict'
url = 'http://127.0.0.1:5000/healthinsurance/predict'
header = {'Content-type': 'application/json' }

r = requests.post( url, data=data, headers=header )
print( 'Status Code {}'.format( r.status_code ) )

Status Code 200

In [7]:
d2 = pd.DataFrame( r.json(), columns=r.json()[0].keys() )
d2

,id,gender,age,driving_license,region_code,previously_insured,vehicle_age,vehicle_damage,annual_premium,policy_sales_channel,...,avg_vehicle_damage_per_age,avg_vehicle_damage_region_code,age_group,vintage_month,day_premium,age_premium,region_premium,avg_day_premium_policy,avg_vintage_age,score
0,466448,None,33.0,1,None,0,2,0,20457.0,None,...,0.0,0.0,3,NaN,120.335294,619.909091,20457.0,120.335294,170.0,0.201539
1,382149,None,59.0,1,None,0,2,1,28286.0,None,...,1.0,1.0,3,NaN,127.990950,479.423729,35676.0,72.013768,221.0,0.694964
2,441966,None,57.0,1,None,1,2,1,2630.0,None,...,1.0,1.0,3,NaN,13.697917,46.140351,2630.0,13.697917,192.0,0.092009
3,469396,None,58.0,1,None,0,2,1,35676.0,None,...,1.0,1.0,3,0.520902,792.800000,615.103448,35676.0,2407.066667,45.0,0.805938
4,466061,None,67.0,1,None,0,2,1,37161.0,None,...,1.0,1.0,3,NaN,158.807692,554.641791,37161.0,158.807692,234.0,0.694964
5,491220,None,26.0,1,None,0,1,1,39495.0,None,...,0.5,1.0,1,NaN,249.968354,1519.038462,39495.0,239.013354,141.0,0.535167
6,485157,None,51.0,1,None,0,2,1,2630.0,None,...,1.0,1.0,3,NaN,16.036585,51.568627,2630.0,72.013768,164.0,0.694964
7,447867,None,26.0,1,None,1,1,0,35260.0,None,...,0.5,0.0,1,NaN,284.354839,1356.153846,35260.0,239.013354,141.0,0.011682
8,443515,None,48.0,1,None,0,2,1,48256.0,None,...,1.0,1.0,3,0.492923,4021.333333,1005.333333,35676.0,2407.066667,12.0,0.694964
9,450469,None,27.0,1,None,1,1,0,30331.0,None,...,0.0,0.0,1,NaN,182.716867,1123.370370,30331.0,239.013354,166.0,0.010190

# Analysis after Prediction

In [ ]:
# Get Data
df = pd.read_csv('C:/Users/perot/Documents/ds_repos/projects/Health_Insurance_Cross_Sell/data/processed/datascore.csv')

In [ ]:
df.head()