# PA004 - HEALTH INSURANCE CROSS-SELL

## 1.0 - API Tester

In [1]:
import requests
import pandas as pd

In [2]:
# Load Datasets
#df_test = pd.read_csv('C:/Users/perot/Documents/ds_repos/projects/Health_Insurance_Cross_Sell/data/raw/test.csv')

In [3]:
# Load Datasets
df_test = pd.read_csv('C:/Users/perot/Documents/ds_repos/projects/Health_Insurance_Cross_Sell/data/raw/data_test.csv')

In [4]:
#df_test = df_test.sample(10)

In [5]:
df_test

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,previously_insured,annual_premium,vintage
0,7,Male,23,11,152,1,< 1 Year,Yes,0,23367,249
1,13,Female,41,15,14,1,1-2 Year,No,1,31409,221
2,18,Female,25,35,152,1,< 1 Year,No,1,46622,299
3,31,Female,26,8,160,1,< 1 Year,No,0,2630,136
4,39,Male,45,8,124,1,1-2 Year,Yes,0,42297,264
...,...,...,...,...,...,...,...,...,...,...,...
381104,381070,Male,24,8,152,1,< 1 Year,No,1,38254,127
381105,381079,Female,58,28,26,1,1-2 Year,Yes,0,39740,170
381106,381082,Female,75,28,26,1,1-2 Year,No,1,51619,80
381107,381097,Female,49,10,26,1,1-2 Year,Yes,0,34541,44
381108,381100,Female,51,28,26,1,1-2 Year,Yes,0,44504,71

In [6]:
# convert dataframe to json
data = json.dumps( df_test.to_dict( orient='records' ) )

In [7]:
# API Call
#url = 'https://healthinsurance-api.onrender.com/healthinsurance/predict'
url = 'http://127.0.0.1:5000/healthinsurance/predict'
header = {'Content-type': 'application/json' }

r = requests.post( url, data=data, headers=header )
print( 'Status Code {}'.format( r.status_code ) )

Status Code 200

In [8]:
d2 = pd.DataFrame( r.json(), columns=r.json()[0].keys() )

In [9]:
d2.to_csv('datascore_test.csv')

# Analysis after Prediction

In [ ]:
# Get Data
df = pd.read_csv('C:/Users/perot/Documents/ds_repos/projects/Health_Insurance_Cross_Sell/data/processed/datascore.csv')

In [ ]:
df.head()